python-dotenv==0.20.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
frozenlist==1.3.0
future==0.18.2
idna==3.3
iniconfig==1.1.1
irc-bot==1.0.40
iso8601==1.0.2
MouseInfo==0.1.3
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytest==7.1.2
python-dotenv==0.20.0
pytweening==1.0.4
rubicon-objc==0.4.2
six==1.16.0
sockets==1.0.0
tomli==2.0.1
twitchio==2.2.0
typing_extensions==4.2.0
yarl==1.7.2
